body {
      font-family: 'Segoe UI', sans-serif;
      background: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-container {
      background: white;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
    }

    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    input {
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }

    header {
  a {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    z-index: 900;
    background: var(--bg-color, #ffffff);
    padding: 11px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px #0000009f;
    color: #000;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }
}

    button {
      width: 100%;
      padding: 0.8rem;
      background: rgb(39, 148, 25);
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
    }

    button:hover {
      background: rgb(39, 148, 25);
    }

    .note {
      margin-top: 1rem;
      font-size: 0.9rem;
      color: #ffffff;
      text-align: center;
    }