*
{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
  }
  body{

    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #d3eeaf;

 
  }


.logo {
  display: flex;  
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 0px 5%;
  background-color:rgb(39, 148, 25);
  background-size: cover;
  display: inline-block;
  padding: 0.7rem 1.3rem;
}
.Letra{
  color: #ffffff;
}

.botones{

  display: flex;
    width: 100%;
    align-items: center;
    color: #ffffff;
    gap: 50px;
    a{
      text-align: center;
      text-decoration: none;
      border: none;
    background: #0f5a05;
    color: #ffffff;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 10px;
    width: 150px;
    cursor: pointer;
    margin-left: 86px;
    }

}

.login{
 width: 400px;
 height: 340px;
 background: #ffffff;
 margin: auto;
 margin-top: 180px;
 box-shadow: 7px 13px 37px rgb(39, 148, 25)5;
 padding: 20px 30px;
}
.login h2{
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}
.registrar{
 width: 100%;
height: 40px;
background:  rgb(22, 80, 14);
color:rgb(39, 148, 25) ;
margin-bottom: 16px;
width: 100%;
border: 1px solid #787272;
padding: 11px 10px;
font-size: 14px;
font-weight: bold;
height: 40px;
text-align: center;
border-bottom: 1px solid;
color:#ffffff;
text-decoration: none;
font-size: 14px;
}
.controls{
width: 100%;
border: 1px solid #787272;
margin-bottom: 15px;
padding: 11px 10px;
font-size: 14px;
font-weight: bold;
}
.buttons{
width: 100%;
height: 40px;
background:  #0f5a05  ;
color: #ffffff;
margin-bottom: 16px;
font-weight: bold;
border: 1px solid #787272;
}
.login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.login a{
    color:white;
    text-decoration: none;
    font-size: 14px;
}
.login a:hovar{
    text-decoration: underline;
}