*
{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
}
  header
{
  a{
  text-decoration: none;
  display: flex; /* Flexbox para centrar contenido */
  align-items: center; /* Alinea verticalmente el texto */
  justify-content: center; /* Alinea horizontalmente el texto */
  width: 3%; 
  height: 15%;
  margin-left: 5%;
  z-index: 900;
  background: var(--bg-color);
  padding: 11px 5%;
  border-radius: 5px;
  background-color: #ffffff;
  background-size: cover;
  box-shadow: 0px 2px 7px #0000009f;
  color: #000; /* Color del texto */
  font-size: 14px; /* Tamaño del texto */
  text-align: center; /* Asegura que el texto esté centrado */
  font-weight: bold; /* Negrita para el texto */
  }
}

.logo {
  display: flex;  
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 0px 5%;
  background-color:#279419;
  background-size: cover;
  display: inline-block;
  padding: 0.7rem 1.3rem;
}
.Letra{
  color: #ffffff;
}

.botones{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    gap: 40px;
}
    .botones a{
      text-align: center;
      text-decoration: none;
      border: none;
      background: #0f5a05;
      color: #ffffff;
      border-radius: 6px;
      font-size: 20px;
      line-height: 48px;
      padding: 0 10px;
      width: 150px;
      cursor: pointer;
      margin: 0;
    }

@media screen and (max-width:480px) {
  .botones a{
    width: 100%;
    max-width: 300%;
    font-size: 20px;
  }
}


  body{

    font-family: Georgia, 'Times New Roman', Times, serif;
   background:#d3eeaf;
  }

.form-login{
 width: 400px;
 height: 340px;
 background: #ffffff;
 margin: auto;
 margin-top: 180px;
 box-shadow: 7px 13px 37px #000000;
 padding: 20px 30px;
}


.form-login h2{
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;

}
.controls{
width: 100%;
border: 1px solid #787272;
margin-bottom: 15px;
padding: 11px 10px;
font-size: 14px;
font-weight: bold;
}
.buttons{
width: 100%;
height: 40px;
background: rgb(39, 148, 25);
color: #000000;
font-weight: bold;
border: 1px solid #787272;

}