.logo {
  display: flex;  
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 0px 5%;
  background-color:#6acb50;
  background-size: cover;
  display: inline-block;
  padding: 0.7rem 1.3rem;
}
.Letra{
  color: #ffffff;
}

.botones{
  display: flex;
  width: 100%;
  align-items: center;
  color: #ffffff;
  gap: 550px;
  text-decoration: none;
}


.inicio-text{
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 20px;
        font-style: normal;
        background-color:#6acb50;
        padding: 10px;
      }

.Bienvenida{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px; 
  font-weight: 400;
  color: #ffffff;
 
}
      
.Cont{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px; 
        font-weight: 400;
        color: #ffffff;
}
.contenedor{
    display:grid;
    align-content:center;
    text-align: center;
}

.imgbanner{
    size: 10px; 
    width: 200px;
}

.fondobanner, img{
  width: 100%;
}
