* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #d3eeaf;
}

/* HEADER */
.logo {
  display: flex;  
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 0px 5%;
  background-color:rgb(39, 148, 25);
  background-size: cover;
  display: inline-block;
  padding: 0.7rem 1.3rem;
  height: 100vh;
}

.Letra h1 {
  color: #ffffff;
  font-size: 2.3rem; /* Más pequeño */
  font-weight: bold;
  margin: 0;
  padding-left: 5px; /* Para separarlo un poquito del borde */
}


.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  gap: 40px;
}

.botones a {
  text-align: center;
  text-decoration: none;
  border: none;
  background: #0f5a05;
  color: #ffffff;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 10px;
  width: 150px;
  cursor: pointer;
  margin: 0;
/* Animación suave */
  transition: all 0.3s ease;
}

.botones a:hover {
  background-color: #3cb82a;
  transform: scale(1.08); /* Zoom suave */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Sombra elegante */
}

@media screen and (max-width: 480px) {
  .botones a {
    width: 100%;
    max-width: 300%;
    font-size: 20px;
  }
}

/* TEXTOS COMO EN prin.css */
.inicio-text {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  background-color: rgb(39, 148, 25);
  padding: 10px;
}

.Bienvenida {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px; 
  font-weight: 400;
  color: #ffffff;
}

.Cont {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px; 
  font-weight: 400;
  color: #ffffff;
}

/* LOGIN */
.login {
  width: 400px;
  height: 340px;
  background: #ffffff;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px rgba(39, 148, 25, 0.5);
  padding: 20px 30px;
}

.login h2 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.registrar {
  width: 100%;
  height: 40px;
  background: rgb(22, 80, 14);
  color: #ffffff;
  margin-bottom: 16px;
  border: 1px solid #787272;
  padding: 11px 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid;
  text-decoration: none;
}

.controls {
  width: 100%;
  border: 1px solid #787272;
  margin-bottom: 15px;
  padding: 11px 10px;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 40px;
  background: #0f5a05;
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: bold;
  border: 1px solid #787272;
}

.login p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.login a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.login a:hover {
  text-decoration: underline;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.whatsapp-float img {
    width: 65px; /* Ajustado para el tamaño del botón */
    height: 65px;
    object-fit: contain;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    cursor: pointer;
}
}