:root {
  --verde-oscuro: #124d19;
  --verde-medio: #2e7d32;
  --verde-claro: #d3eeaf;
  --verde-pastel: #e9f7d5;
  --amarillo: #f5dd5d;
  --blanco: #ffffff;
}

.logo {
  display: flex;  
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 0px 5%;
  background-color:#215a21;
  background-size: cover;
  display: inline-block;
  padding: 0.7rem 1.3rem;
}
.Letra{
  color: #ffffff;
  font-size: large;
}

header {
  background: var(--verde-oscuro);
  color: var(--blanco);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  height: 65px;
}

header h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--amarillo);
}
@media screen and (max-width:480px) {
  .botones a{
    width: 100%;
    max-width: 300%;
    font-size: 20px;
  }
}


.inicio-text{
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 20px;
        font-style: normal;
        background-color: #215a21;
        padding: 10px;
      }

.Bienvenida{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px; 
  font-weight: 400;
  color: #ffffff;
 
}
      
.Cont{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px; 
        font-weight: 400;
        color: #ffffff;
}
.contenedor{
    display:grid;
    align-content:center;
    text-align: center;
}

.imgbanner{
    size: 10px; 
    width: 200px;
}

.fondobanner, img{
  width: 100%;
}

.Cont  {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(248, 248, 248, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.2);
    width: 30px; /* Ajusta el ancho del contenedor */
} 

.i{
  left: 40%;
}

