.logo {
  display: flex;  
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 0px 5%;
  background-color:rgb(39, 148, 25);
  background-size: cover;
  display: inline-block;
  padding: 0.7rem 1.3rem;
}

.Letra h1 {
  color: #ffffff;
  font-size: 2.3rem; /* Más pequeño */
  font-weight: bold;
  margin: 0;
  padding-left: 5px; /* Para separarlo un poquito del borde */
}



.botones{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    gap: 40px;
}
    .botones a{
      text-align: center;
      text-decoration: none;
      border: none;
      background: #0f5a05;
      color: #ffffff;
      border-radius: 6px;
      font-size: 20px;
      line-height: 48px;
      padding: 0 10px;
      width: 150px;
      cursor: pointer;
      margin: 0;
    /* Animación suave */
  transition: all 0.3s ease;
}

.botones a:hover {
  background-color: #3cb82a;
  transform: scale(1.08); /* Zoom suave */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Sombra elegante */
}

@media screen and (max-width:480px) {
  .botones a{
    width: 100%;
    max-width: 300%;
    font-size: 20px;
  }
}


.inicio-text{
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 20px;
        font-style: normal;
        background-color: rgb(39, 148, 25);
        padding: 10px;
      }

.Bienvenida{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px; 
  font-weight: 400;
  color: #ffffff;
 
}
      
.Cont{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px; 
        font-weight: 400;
        color: #ffffff;
}
.contenedor{
    display:grid;
    align-content:center;
    text-align: center;
}

.imgbanner{
    size: 10px; 
    width: 200px;
}

.fondobanner, img{
  width: 100%;
}

.Cont  {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(248, 248, 248, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.2);
    width: 30px; /* Ajusta el ancho del contenedor */
} 

.i{
  left: 40%;
}

