
/* HEADER */
.logo {
  display: flex;
  flex-direction: column;  /* Logo arriba, botones abajo */
  align-items: flex-start; /* Logo pegado a la izquierda */
  width: 100%;
  background-color: rgb(39, 148, 25);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

/* Texto del logo más pequeño */
.Letra h1 {
  color: #ffffff;
  font-size: 2.3rem; /* Más pequeño */
  font-weight: bold;
  margin: 0;
  padding-left: 5px; /* Ligera separación del borde */
}

/* Botones abajo centrados */
.botones {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  gap: 20px;
  width: 100%;
  margin-top: 10px; /* Espacio entre logo y botones */
  }


  .botones a {
  text-align: center;
  text-decoration: none;
  border: none;
  background: #0f5a05;
  color: #ffffff;
  border-radius: 8px;
  font-size: 18px;       /* Tamaño de texto más grande */
  line-height: 42px;     /* Más alto */
  padding: 6px 18px;     /* Más relleno */
  width: 160px;          /* Más anchos */
  cursor: pointer;
/* Animación suave */
  transition: all 0.3s ease;
}

.botones a:hover {
  background-color: #3cb82a;
  transform: scale(1.08); /* Zoom suave */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Sombra elegante */
}


.botones a:hover {
  background-color: #3cb82a;
}

